wave_volt_limit=(0,5500)
wave_plot_opacity=0.8
set_time_to_base_time=True
set_to_volt_base=True
Information_Window_Opacity=0.8
Measurement_Window_Opacity=0.8
zeroline_visible=False
Main_Window_always_on_top=False
Information_Window_always_on_top=True
Measurement_Window_always_on_top=True
FFT_line_opacity=0.8
FFT_zoom_multiplier=1
FFT_annotation_offset=(20,10)
FFT_keep_annotations=False
FFT_Max_points_to_show=3
FFT_annotation_opacity=0.8
FFT_default_window=boxcar
FFT_window_default_symmetric=True
debug=False

#################################################
#Restart required for changing wave_volt_limit
###############################################